@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    hmtl {
        font-family: 'Poppins',sans-serif;
    }

    .scrollbar::-webkit-scrollbar {
        width: 15px;
      }
    
    /* .scrollbar::-webkit-scrollbar-track {
        background: #f7f4ed;
    } */
    
    .scrollbar::-webkit-scrollbar-thumb {
        background: gainsboro;
    }
    
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: white;
    }
}
